<script>
  $(function() {
    $('.products').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PATCH',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { product: { row_order_position: ui.item.index() - 1 } }
        });
      }
    });
  });
</script>


<br />
<ul class="products">
	<% @products.rank(:row_order).each do |product| %>
		<div class="card col-xs-12 col-sm-6 col-md-3">
		<li data-update-url="<%= admin_product_path(product) %>">
	 		<div class="img-with-text"
	 			<ul>
	  				<li><%= link_to (image_tag product.photo), product_path(product) %></li>
	  				<li><h4><%= product.title %></h4></li>
	    			<li><span class ="label label-info label-lrg">
		  				<%=number_to_currency product.price %>
					</span></li>
					<li><%= link_to 'Add to Cart', line_items_path(:product_id => product), :method => :post, class: 'label label-primary label-lrg' %></li>
					<br />
				</ul>
			</div>
		</div>
	</li>
	<br class="clr" />
	<% end %>
<ul>
