<br />
<div class = "show-container">
	<div class="col-xs-5 col-xs-offset-1 img-responsive">
		<%= image_tag @product.photo %>
	</div>
	<div class="col-xs-5">
	  	<h1> <%= @product.title %></h1>
	  	<br />
	    <p><%= @product.description %></p>
	    <br /> 
	    <span class ="label label-info label-lrg">
				<%=number_to_currency @product.price %>
		</span>
			<br />
	    <div id="navcontainer">
	    <br/>
			<ul id="navlist">
			<li id="active"><a href="#" id="current"></a></li>
			<li></li>
			<li><%= link_to @product.brand, product_path(:brand) %></li>&nbsp;
			<li><%= link_to @product.gender, '#' %></li>&nbsp;
			<li><%= link_to @product.size.name, size_products_path(@product.size)%></li>&nbsp;
			<li><%= link_to @product.category.kind, category_products_path(@product.category) %></li>&nbsp;<br />
			<br />
			<br />
		<!-- 	<%= link_to 'Buy', product_charges_path(@product), class: 'btn btn-primary', method: :post %> -->
      		<%= form_tag product_charges_path(@product) do %>
		       <!--  <article>
		          <label class="amount">
		            <span>Amount: $5.00</span>
		          </label>
		        </article> -->
			<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="<%= @product.title %>(<%= number_to_currency @product.price %>)"
                data-amount=<%= (@product.price * 100).to_i %>></script>
      		<% end %>
      		<br />
			<br />
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="52PZL6M7V3ZNY">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<!-- 	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> -->
			</form> 


			</ul>
		</div>
		<br />
		<div class="admin_controls">
			<% if current_admin %>
			 <%=link_to 'Edit', edit_admin_product_path(@product), :class => 'btn btn-info' %>&nbsp;
			<%=link_to 'Delete', admin_product_path(@product), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, 
				class: 'btn btn-danger' %>
			<% end %>
		</div>

		</div>
</div>	
